/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /reset */
/* generals */
body{
  height: 100vh;
  background-color: rgb(67, 67, 67);
}
.wrapper{
  height: 100%;
  width: 100%;
}
/* /generals */
/* header */
.header_section{
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}
.logo_container,
.input_container{
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_container>img{
  width: 70%;
  height: 70%;
}
.search_field{
  margin-right: 10px;
}
/* /header */
/* main */
.main_section{
  height: calc(100vh - 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}
/* .instruction{
  font-size: 40px;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
} */
.movie_container{
  height: 45%;
  width: 15%;
  background-color: #000;
  margin: 15px;
}
.movie_image{
  width: 100%;
  height: 100%;
}
/* side_b */
.side_b{
  display: none;
  background-color: #000;
  height: 100%;
  width: 100%;
  padding: 7px;
}
.informal_title,
.original_title,
.language_title,
.overview_title,
.vote_title{
  padding:5px 0;
}
.movie_features{
  font-size: 14px;
  color:#fff;
}
.language_wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.response_features{
  font-size: 10px;
  color:#fff;
}
.clamp{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.flags_container{
  height: 30px;
  width: 30px;
  background-color: red;
}
.flags_container>img{
  width: 100%;
  height: 100%;
}
/* /side_b */
/* /main */
/* footer */
.footer_section{
  height: 6%;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_text{
  color: #fff;
  font-style: italic;
}
/* /footer */
/* hover_effects */
.movie_container:hover .movie_image{
  display: none;
}
.movie_container:hover .side_b{
  display: block;
}
/* /hover_effects */
