<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- font_awesome_cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <!-- /font_awesome_cdn -->
  <!-- axios_cdn -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <!-- /axios_cdn -->
  <!-- vue_dev_version -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- /vue_dev_version -->
  <!-- stylesheet -->
  <link rel="stylesheet" href="css/style.css">
  <!-- /stylesheet -->
  <title>Vue Boolflix</title>
</head>
<body>
  <!-- wrapper -->
  <div id="app" class="wrapper">
    <!-- header -->
    <header class="header_section">
      <!-- logo -->
      <div class="logo_container">
        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Fw342%2FwwemzKWzjKYJFfCeiB57q3r4Bcm.png" alt="">
      </div>
      <!-- /logo -->
      <!-- input -->
      <div class="input_container">
        <div class="search_container">
          <i v-on:click="isShown = true" class="fas fa-search"></i>
          <input v-if="isShown" v-on:keyup.13="searchTitle" v-model="userTitle" class="search_field" type="text" name="" value="" placeholder="inserisci titolo">
        </div>
        <div class="select_container">
          <select v-model="selected" class="select_input" name="">
            <option value="">All</option>
            <option value="Movies">Movies</option>
            <option value="Series">Series</option>
          </select>
        </div>
        <button class="input_button" @click="searchTitle" type="button" name="button">Cerca</button>
      </div>
      <!-- /input -->
    </header>
    <!-- /header -->
    <!-- main -->
    <main class="main_section">
      <!-- control -->
      <div v-if="moviesAndSeries.length == 0" class="">
        <h2 class="instruction">Benvenuto in Netflix! Ricerca un titolo...</h2>
      </div>
      <!-- poster -->
      <div v-else class="movie_container" v-for="(item,index) in moviesAndSeries">
        <!-- side_a -->
        <img class="movie_image" :src="(item.poster_path ? `https://image.tmdb.org/t/p/w300` + item.poster_path : 'https://product-image.juniqe-production.juniqe.com/media/catalog/product/seo-cache/x800/284/191/284-191-101P/Charlie-Chaplin-Rob-Snow-Creative-Poster.jpg')" :alt="item.title">
        <!-- /side_a -->
        <!-- side_b -->
        <div class="side_b">
          <div class="informal_title">
            <h2 class="movie_features">Titolo:</h2>
            <p class="response_features clamp">{{item.title}}{{item.name}}</p>
          </div>
          <div class="original_title">
            <h2 class="movie_features">Titolo Originale:</h2>
            <p class="response_features clamp">{{item.original_title}}{{item.original_name}}</p>
          </div>
          <div class="language_title">
            <h2 class="movie_features">Lingua:</h2>
            <div class="language_wrapper">
              <p class="response_features">{{item.original_language}}</p>
              <div class="flags_container">
                <img v-if="myFlags.includes(item.original_language)" :src="`css/img/flags/` + item.original_language + `.svg`" :alt="item.original_language + `flag`">
                <img v-else src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoimwF82SSaaCeTufe0r-lx0go1p4UMqY2DkzyhAOFbIZjqdFXx4FNl6kAc-SCcVnoLQg&usqp=CAU" alt="pace_flag">
              </div>
            </div>
          </div>
          <div v-if="item.overview" class="overview_title">
            <h2 class="movie_features">Overview:</h2>
            <p class="response_features clamp">{{item.overview}}</p>
          </div>
          <div class="vote_title">
            <h2 class="movie_features">Voto:</h2>
            <!-- <p class="response_features">{{item.vote_average}}</p> -->
            <p v-if="item.vote_average == 0" class="response_features"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
            <p v-if="item.vote_average == 1" class="response_features"><i class="fas fa-star plain"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
            <p v-if="item.vote_average == 2" class="response_features"><i class="fas fa-star plain"></i><i class="fas fa-star plain"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
            <p v-if="item.vote_average == 3" class="response_features"><i class="fas fa-star plain"></i><i class="fas fa-star plain"></i><i class="fas fa-star plain"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
            <p v-if="item.vote_average == 4" class="response_features"><i class="fas fa-star plain"></i><i class="fas fa-star plain"></i><i class="fas fa-star plain"></i><i class="fas fa-star plain"></i><i class="far fa-star"></i></p>
            <p v-if="item.vote_average == 5" class="response_features"><i class="fas fa-star plain"></i><i class="fas fa-star plain"></i><i class="fas fa-star plain"></i><i class="fas fa-star plain"></i><i class="fas fa-star plain"></i></p>
          </div>
          <div @click="deleteItem(index)" class="deleter">
            <span class="close">X</span>
          </div>
        </div>
        <!-- /side_b -->
      </div>
      <!-- /poster -->
    </main>
    <!-- /main -->
    <!-- footer -->
    <footer class="footer_section">
      <p class="footer_text"><small>powered with love</small> </p>
    </footer>
    <!-- /footer -->
  </div>
  <!-- /wrapper -->
  <!-- script.js -->
  <script src="js/script.js" charset="utf-8"></script>
  <!-- /script.js -->
</body>
</html>
